<nav>
  <div class="site-title">
    <a href="/"><h1>Android New User</h1></a>
    <p>An android user login site</p>
  </div>
  <ul>
    <li><a href="/">Users</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users/create">Create New User</a></li>
  </ul>
</nav>